.tt,
*.tt-query {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 100px;
    outline: none;
    color: #576572;
}

.tt-menu {    // used to be tt-dropdown-menu in older versions
  width: 100%;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #f05f40;
  border: 1px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
 
}
*


.tt-query {
    width: 100%;
    border-radius: 100px;
    padding: 10px 15px;
}

.tt-hint {
    color: #999
}


.tt-suggestion {
    padding: 3px 20px;
    font-size: 16px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #576572;

}

.tt-suggestion p {
    margin: 0;
}